body{
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 640px;
}